body {
    font-family: cursive;
    background-color:#48026a93;
    text-align: center;
    justify-content: center;
    background-image: url('image/Purplebackground.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
}


.menu {
    display: block;
    text-align: left;
    background: #9101d4;
    padding: 10px;
}
.menu a {
    color: white;           
    padding: 10px;
    display: inline-block;
}
/* Estilos para telas menores que 768px */
@media screen and (max-width: 768px) {
    body {
        background-color: lightgray;
    }
}



    /* Estilos para tablets */
    @media screen and (max-width: 1024px) {
    .menu {
    display: block;
    text-align: center;
    }
}